
<mat-card>
    <form>
        <mat-card-title>Excluit Produto</mat-card-title>
        
        <mat-form-field>
            <input matInput placeholder="name" [value]="product.name" name="name" disabled> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeHolder="price (R$)" type="number"  [value]="product.price" name="price" disabled>
        </mat-form-field>

    </form>

        <button mat-raised-button (click)="deleteProduct()" color=warn>
            deleta
        </button>

        <button mat-raised-button (click)="cancel()" color="default">
            cancelar
        </button>
</mat-card>


